//z-index layers
$layer-1: 1;
$layer-2: 2;
$layer-3: 3;

//
$app-max-width: 1000px;
$app-min-width: 700px;
$header-height: 60px;

//FONTS
$sans-serif: 'Rodio', 'Helvetica Neue', helvertica, arial, sans-serif;
$base-paragraph-color: #737373;

//colors
$primary: #006CCC; //blue
$secondary: #427fed; //lighter blue
$special: #23BC3B; //green
$support-color: $special;